<p-toast></p-toast>
<app-loading-spinner [loading]="loading"></app-loading-spinner>
<div *ngIf="!loading">
  <app-user-list [users]="users" (editUser)="editUser($event)" (deleteUser)="deleteUser($event)"
    (openNewEvent)="openNew()"></app-user-list>
</div>
<p-dialog
  header="{{ dialogHeader }}"
  [(visible)]="formViewVisible"
  [modal]="true"
  [responsive]="true"
  [baseZIndex]="1000"
  (onHide)="onDialogHide()"
  [style]="{ width: '600px', height: '75vh' }"
>
  <app-user-form
    [userForm]="userForm"
    [user]="selectedUserForEdit"
    (saveUserEvent)="saveUser($event)"
    (cancelEditEvent)="cancelEdit()"
  ></app-user-form>
</p-dialog>

